body {
    background-image: url("images/table.png");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    font-size: 50px;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el {
    font-style: italic;
}

#start-game-btn {
    color: #016f32;
    width: 600px;
    background: goldenrod;
    padding: 20px;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    border: none;
}

#new-card-btn {
    color: #016f32;
    width: 600px;
    background: goldenrod;
    padding: 20px;
    font-weight: bold;
    font-size: 50px;
    border-radius: 10px;
    border: none;
    margin: 20px;
}
